<template>
  <div class="employer-list-dataTable">

    <el-table
      ref="dataTable"
      :data="employers"
      :border="true"
      :default-sort="{prop: 'name'}"
      v-loading="searching"
      @row-click="handleRowClick"
    >

      <el-table-column type="expand">
        <template slot-scope="props">
          <div class="detail">
            <div class="left-c">
              <el-row type="flex">
                <el-col :span="12">
                  <p><b>Email:</b> {{ props.row.email }}</p>
                  <p><b>Phone:</b> {{ props.row.phone }}</p>
                  <p><b>Email:</b> {{ props.row.email }}</p>
                  <p><b>Phone:</b> {{ props.row.phone }}</p>
                  <p><b>Email:</b> {{ props.row.email }}</p>
                  <p><b>Phone:</b> {{ props.row.phone }}</p>
                </el-col>
                <el-col :span="12">
                  <p><b>Email:</b> {{ props.row.email }}</p>
                  <p><b>Phone:</b> {{ props.row.phone }}</p>
                  <p><b>Email:</b> {{ props.row.email }}</p>
                </el-col>
              </el-row>
            </div>
            <div class="logo-c">
              <span>Logo</span>
            </div>
          </div>
          <div class="toolbar">
            <el-button type="primary" icon="el-icon-delete" size="mini">Foo</el-button>
            <el-button type="success" icon="el-icon-delete" size="mini">Bar</el-button>
            <el-button type="warning" icon="el-icon-delete" size="mini">Foo Bar</el-button>
            <item-delete-btn :item="props.row" size="mini" :circle="false"/>
          </div>
        </template>
      </el-table-column>

      <el-table-column label="#" type="index" :index="indexMethod" width="45"></el-table-column>

      <el-table-column label="Nhà tuyển dụng" width="270" prop="name" resizable sortable>
        <template slot-scope="scope">
          <p>{{ scope.row.name }}</p>
        </template>
      </el-table-column>

      <el-table-column prop="register" label="Đăng ký"></el-table-column>
      <el-table-column prop="cskh" label="CSKH"></el-table-column>

      <el-table-column label="Loại">
        <template slot-scope="scope">
          <el-tag :type="{0: 'warning',1: 'primary',2: 'success',}[scope.row.validateStatus.id]" size="small">
            {{scope.row.validateStatus.label}}
          </el-tag>
        </template>
      </el-table-column>

      <el-table-column prop="thamgiaPhi" label="Tham gia phí" resizable></el-table-column>
      <el-table-column prop="ketthucPhi" label="Kết thúc phí" resizable></el-table-column>
      <el-table-column prop="gpdk" label="GPĐK" resizable></el-table-column>

      <el-table-column label="Thao tác" width="80">
        <template slot-scope="scope">
          <item-delete-btn :item="scope.row" size="mini"/>
        </template>
      </el-table-column>

    </el-table>

  </div>
</template>

<style lang="scss" scoped>
  /* Custom for this DataTable only */
  .employer-list-dataTable .el-loading-mask .el-loading-spinner{ top: 80px; }

  .employer-list-dataTable {
    .detail{
      color: #767676;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;

      .left-c{
        .el-col{
          padding-left: 30px;
        }
      }
      .logo-c{
        img, span {
          width: 150px;
          height: 150px;
          border-radius: 10px;
          background-color: #dddddd;

          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .toolbar{
      margin-top: 20px;

      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      align-items: center;
    }
  }
</style>

<style lang="scss">
  .employer-list-dataTable {
    div.el-table td {
      border-left-color: white;
      border-right-color: white;
    }
  }


</style>

<script>
  import { mapState } from 'vuex'
  import ItemDeleteBtn from './ItemDeleteBtn'

  export default {
    components: {
      ItemDeleteBtn,
    },

    data: function () {
      return {

      }
    },

    computed: mapState({
      searching: state => state.Employer.EmployerListTab.searchingState,
      employers: state => state.Employer.EmployerListTab.DataTable.searchResult.data,
      success: state => state.Employer.EmployerListTab.DataTable.searchResult.success,
      message: state => state.Employer.EmployerListTab.DataTable.searchResult.message,
    }),

    methods: {
      indexMethod: i => i + 1,
      handleRowClick(row){
        //console.log('row, event, column: ', row, event, column);
        this.$refs.dataTable.toggleRowExpansion(row);
      }
    },
  }
</script>
