<template>
  <el-header height="60px">

    <el-row type="flex" justify="space-between" align="center" :gutter="0">

      <el-col :span="6">
        <div class="flex-center" style="width: 230px">
          <img src="/asset/default/img/logo.png" alt="App logo">
          <el-button
            class="switch-aside-btn" type="primary" size="small"
            :class="$store.state.app.sidebar.opened ? 'active' : ''"
            @click="$store.dispatch('toggleSideBar')"
          ><ios-list-icon w="30" h="30"/></el-button>
        </div>
      </el-col>

      <el-col :span="6" class="flex-right admin-header-btn">
        <span>&nbsp;</span>

        <template>
          <ios-expand-icon w="26" h="26" @click.native="toggleFullScreen" v-if="!isFullScreen"/>
          <ios-contract-icon w="26" h="26" @click.native="toggleFullScreen" v-else/>
        </template>

        <el-badge :value="19" class="item">
          <ios-notifications-outline-icon w="28" h="28" v-popover:popNotification/>
        </el-badge>
        <el-button circle class="avatarBtn" v-popover:popProfile><img :src="avatarUrl" alt="User 004"></el-button>
      </el-col>

    </el-row>

    <div class="popup-ui-container">
      <el-popover ref="popNotification" placement="bottom" width="400" trigger="click">
        <!--TODO: Tach component cho cum nay-->
        <ul class="popNotifications">
          <li>
            <p>Tin 'Nhân Viên Giám Sát Công Trình' đã thay bằng tin 'Nhân Viên Vẽ Thiết Kế Sản Phẩm Nội Thất' khỏi Box Hấp dẫn ngành đã được chấp nhận</p>
            <div>
              <span><ios-timer-icon/> 08:33 09/01/2018 từ <b>VL24h:thaolt1</b></span>
            </div>
          </li>
          <li>
            <p>Tin 'Nhân Viên Giám Sát Công Trình' đã thay bằng tin 'Nhân Viên Vẽ Thiết Kế Sản Phẩm Nội Thất' khỏi Box Hấp dẫn ngành đã được chấp nhận</p>
            <div>
              <span><ios-timer-icon/> 08:33 09/01/2018 từ <b>VL24h:thaolt1</b></span>
            </div>
          </li>
          <li>
            <p>Tin 'Nhân Viên Giám Sát Công Trình' đã thay bằng tin 'Nhân Viên Vẽ Thiết Kế Sản Phẩm Nội Thất' khỏi Box Hấp dẫn ngành đã được chấp nhận</p>
            <div>
              <span><ios-timer-icon/> 08:33 09/01/2018 từ <b>VL24h:thaolt1</b></span>
            </div>
          </li>
          <li>
            <p>Tin 'Nhân Viên Giám Sát Công Trình' đã thay bằng tin 'Nhân Viên Vẽ Thiết Kế Sản Phẩm Nội Thất' khỏi Box Hấp dẫn ngành đã được chấp nhận</p>
            <div>
              <span><ios-timer-icon/> 08:33 09/01/2018 từ <b>VL24h:thaolt1</b></span>
            </div>
          </li>
          <li>
            <p>Tin 'Nhân Viên Giám Sát Công Trình' đã thay bằng tin 'Nhân Viên Vẽ Thiết Kế Sản Phẩm Nội Thất' khỏi Box Hấp dẫn ngành đã được chấp nhận</p>
            <div>
              <span><ios-timer-icon/> 08:33 09/01/2018 từ <b>VL24h:thaolt1</b></span>
            </div>
          </li>
          <li>
            <p>Tin 'Nhân Viên Giám Sát Công Trình' đã thay bằng tin 'Nhân Viên Vẽ Thiết Kế Sản Phẩm Nội Thất' khỏi Box Hấp dẫn ngành đã được chấp nhận</p>
            <div>
              <span><ios-timer-icon/> 08:33 09/01/2018 từ <b>VL24h:thaolt1</b></span>
            </div>
          </li>
          <li>
            <p>Tin 'Nhân Viên Giám Sát Công Trình' đã thay bằng tin 'Nhân Viên Vẽ Thiết Kế Sản Phẩm Nội Thất' khỏi Box Hấp dẫn ngành đã được chấp nhận</p>
            <div>
              <span><ios-timer-icon/> 08:33 09/01/2018 từ <b>VL24h:thaolt1</b></span>
            </div>
          </li>
          <li>
            <p>Tin 'Nhân Viên Giám Sát Công Trình' đã thay bằng tin 'Nhân Viên Vẽ Thiết Kế Sản Phẩm Nội Thất' khỏi Box Hấp dẫn ngành đã được chấp nhận</p>
            <div>
              <span><ios-timer-icon/> 08:33 09/01/2018 từ <b>VL24h:thaolt1</b></span>
            </div>
          </li>
        </ul>
      </el-popover>

      <el-popover ref="popProfile" placement="bottom" width="320" trigger="click">
        <div class="popProfile">
          <div class="user" v-bind:style="{ background: `url(${avatarBg})` }">
            <img :src="avatarUrl" alt="User 004">
            <div>
              <h3>Nguyen Nguyen Luat</h3>
              <p>the_long_email@gmail.com</p>
            </div>
          </div>
          <div class="menu">
            <el-button size="medium" plain type="primary">
              <ios-finger-print-icon w="20" h="20"/>&nbsp; Profile
            </el-button>
            <el-button size="medium" plain type="warning">
              <ios-log-out-icon w="20" h="20"/>&nbsp; Logout
            </el-button>
          </div>
        </div>
      </el-popover>

    </div>

  </el-header>
</template>


<style rel="stylesheet/scss" lang="scss" scoped>
  @import "./style-scope";
</style>

<style lang="scss">
  .admin-header-btn {
    .el-badge.item {
      display: flex;
      .el-badge__content.is-fixed {
        transform: translateY(-6px) translateX(-6px);
      }
    }
  }

  .popProfile .el-button > span {
    display: flex;
    align-items: center;
  }
</style>
<script>
  import screenfull from 'screenfull'

  import avatarUrl from '~/assets/images/user4.jpg';
  import avatarBg from '~/assets/images/user_profile_bg.jpg';
  import IosNotificationsOutlineIcon from "vue-ionicons/dist/ios-notifications-outline.vue";
  import IosExpandIcon from "vue-ionicons/dist/ios-expand.vue";
  import IosFingerPrintIcon from "vue-ionicons/dist/ios-finger-print.vue";
  import IosLogOutIcon from "vue-ionicons/dist/ios-log-out.vue";
  import IosTimeIcon from "vue-ionicons/dist/ios-time.vue";
  import IosCloseCircleOutlineIcon from "vue-ionicons/dist/ios-close-circle-outline.vue";
  import IosTimerIcon from "vue-ionicons/dist/ios-timer.vue";
  import IosContractIcon from "vue-ionicons/dist/ios-contract.vue";
  import IosMenuIcon from "vue-ionicons/dist/ios-menu.vue";
  import IosListIcon from "vue-ionicons/dist/ios-list.vue";


  export default {
    components: {
      IosListIcon,
      IosMenuIcon,
      IosContractIcon,
      IosTimerIcon,
      IosCloseCircleOutlineIcon,
      IosTimeIcon,
      IosLogOutIcon,
      IosFingerPrintIcon,
      IosExpandIcon,
      IosNotificationsOutlineIcon
    },
    data() {
      return {
        avatarUrl,
        avatarBg,
        isFullScreen: false,
      }
    },
    methods: {
      toggleFullScreen: function () {
        if (screenfull.enabled) {
          screenfull.toggle();

          setTimeout(() => {
            // toggle and screenfull.isFullscreen is not synchronous, so we need to wait some miliseconds
            this.isFullScreen = screenfull.isFullscreen;
          }, 100);
        } else {
          console.error("Browser don't support full screen.")
        }
      }
    }
  }
</script>
