@import "../../../layouts/variables";

.el-header {
  background-color: $base-color;
  color: white;
  line-height: 60px;
  height: 60px;
}

.el-row .el-col {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.flex-right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.el-button--primary {
  background-color: $base-color;
  /*background-color: #2f8ace;*/
  /*border-color: #eee;*/
}

.admin-header-btn {
  .ion {
    margin-right: 28px;

    &:hover {
      cursor: pointer;
    }
  }

  .el-badge.item {
    display: flex;

    .el-badge__content.is-fixed {
      transform: translateY(-6px) translateX(-6px);
    }
  }
}

.switch-aside-btn{
  padding: 3px 5px;
}

.avatarBtn.el-button {
  padding: 0;
  img {
    width: 40px;
    border-radius: 50%;
  }
}

.popProfile {
  padding: 0;

  .user {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    background-size: cover;
    height: 75px;
    padding: 20px;
    color: #ddd;
    border-radius: 4px;

    img {
      width: 70px;
      border-radius: 50%;
    }
    h3 {
      padding-left: 15px;
      color: #d9dae3;
      font-size: 1.3em;
      font-weight: 400;
      margin-bottom: 0;
    }
    p {
      padding-left: 15px;
      margin-top: 5px;
      color: #aeafc2;
    }
  }

  .menu {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
}

ul.popNotifications {
  height: 460px;
  overflow: auto;
  list-style: none;
  font-size: 1em;
  line-height: 1.3em;

  li {
    transition: background-color 0.3s;
    &:hover{
      background: rgba(0, 128, 128, 0.18);
    }
    p {

    }
    div {
      //color: lighter();
      text-align: right;
    }
  }
}
