<template>
  <el-button type="danger" icon="el-icon-delete" circle @click="handleClickDelEmployer(item)"></el-button>
</template>

<script>
  export default {
    props: ['item'],
    data: function () {
      return {

      }
    },
    methods: {

      handleClickDelEmployer(item) {
        console.log('Delete itemId = ', item.id);
        this.openConfirmDlg(item);
      },

      openConfirmDlg(item) {
        console.log('openConfirmDlg itemId = ', item.id);

        const h = this.$createElement;
        this.$msgbox({
          title: '[Cảnh báo] Xác nhận xóa',
          message: h('p', null, [
            h('span', null, 'Bạn đang chuẩn bị xóa item NTD: '),
            h('i', { style: 'color: teal' }, item.name)
          ]),
          showCancelButton: true,
          confirmButtonText: 'Xóa',
          cancelButtonText: 'Hủy',
          beforeClose: (action, instance, doneCb) => {
            if (action === 'confirm') {
              instance.confirmButtonLoading = true;
              instance.confirmButtonText = 'Đang xóa...';

              // Giả API xóa
              setTimeout(() => {
                doneCb();
                setTimeout(() => {
                  instance.confirmButtonLoading = false;
                }, 300);
              }, 2000);

            } else {
              doneCb();
            }
          }
        }).then(action => {
          // When all done()
          this.$message({
            type: 'info',
            message: 'Item vừa bị xóa: ' + item.id + ' ' +  item.name,
          });
        }).catch((e) => {
          console.log('error or cancel: ', e.message);
        })
      },

    }
  }
</script>
