<template>
  <div class="crm-page__customer-service__section__form">

    <el-form ref="form" :model="formData" :rules="validationRules" size="mini" label-width="0">

      <el-form-item class="row__1" prop="validationRules">
        <el-col :span="8">
          <el-form-item prop="universalKeyword">
            <el-input v-model="formData.universalKeyword" placeholder="Nhập mã, email, tên, điện thoại nhà tuyển dụng" clearable></el-input>
          </el-form-item>
        </el-col>

        <el-col :span="1">&nbsp;</el-col>
        <el-col :span="7">
          <el-form-item prop="activeVipDate">
            <el-date-picker
              v-model="formData.activeVipDate"
              type="daterange"
              format="dd/MM/yyyy"
              align="right"
              unlink-panels
              range-separator="→"
              start-placeholder="Ngày kích VIP"
              end-placeholder="Đến"
              :picker-options="pickerOptions2"
            >
            </el-date-picker>
          </el-form-item>
        </el-col>

        <el-col :span="1">&nbsp;</el-col>
        <el-col :span="7">
          <el-form-item prop="activeVipExpireDate">
            <el-date-picker
              v-model="formData.activeVipExpireDate"
              type="daterange"
              format="dd/MM/yyyy"
              align="right"
              unlink-panels
              range-separator="→"
              start-placeholder="Ngày hết hạn"
              end-placeholder="Đến"
              :picker-options="pickerOptions2"
            >
            </el-date-picker>
          </el-form-item>
        </el-col>


      </el-form-item>

      <el-form-item class="row__2">
        <el-col :span="8">
          <el-form-item prop="customerCareStaffOrGroup">
            <el-select v-model="formData.customerCareStaffOrGroup" placeholder="Chọn CSKH" clearable filterable>
              <el-option
                v-for="item in formUiSetting.customerCareStaffOrGroup"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>

        <el-col :span="1">&nbsp;</el-col>
        <el-col :span="4">
          <el-form-item prop="city">
            <el-select v-model="formData.city" placeholder="Chọn Tỉnh thành" clearable filterable>
              <el-option
                v-for="item in formUiSetting.city"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>

        <el-col :span="1">&nbsp;</el-col>
        <el-col :span="4">
          <el-form-item prop="timeLeft">
            <el-select v-model="formData.timeLeft" placeholder="Thời gian còn lại" clearable filterable>
              <el-option
                v-for="item in formUiSetting.timeLeft"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>

        <el-col :span="1">&nbsp;</el-col>
        <el-col :span="5">
          <el-form-item prop="loginTime">
            <el-select v-model="formData.loginTime" placeholder="Thời gian đăng nhập" clearable filterable>
              <el-option
                v-for="item in formUiSetting.loginTime"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-form-item>

      <hr>

      <el-form-item class="row__2">
        <el-col :span="7">
          <el-form-item prop="sortByVipExpired">
            <el-select v-model="formData.sortByVipExpired" placeholder="Sắp xếp theo" clearable filterable class="autoWidth">
              <el-option
                v-for="item in formUiSetting.sortByVipExpired"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>

        <el-col :span="1">&nbsp;</el-col>
        <el-col :span="16">
          <el-form-item align="right">
            <el-button size="small" type="warning"><ios-refresh-icon w="1em" h="0.9em"/> Cập nhật NTD</el-button>
            <el-button size="small" type="success"><md-add-icon w="1em" h="0.9em"/> Thêm</el-button>
            <el-button size="small" type="default" @click="resetForm">Bỏ lọc</el-button>
            <el-button size="small" type="primary" @click="submitForm" :disabled="searching" :loading="searching">
              <ios-search-icon w="1em" h="0.9em" v-if="!searching"/> Tìm kiếm
            </el-button>
          </el-form-item>
        </el-col>
      </el-form-item>
    </el-form>

  </div>
</template>

<style lang="scss">
  hr {
    border-top: 1px solid #ececec;
    margin-bottom: 20px;
  }
</style>

<script>
  import { mapState, mapGetters } from 'vuex'
  import cDataTable from '../DataTable/const'

  import IosAddIcon from "vue-ionicons/dist/ios-add.vue";
  import IosSearchIcon from "vue-ionicons/dist/ios-search.vue";
  import IosRefreshIcon from "vue-ionicons/dist/ios-refresh.vue";
  import MdAddIcon from "vue-ionicons/dist/md-add.vue";


  export default {
    components: { MdAddIcon, IosRefreshIcon, IosSearchIcon, IosAddIcon },

    data() {
      return {
        pickerOptions2: {
          shortcuts: [{
            text: 'Tuần trước',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: 'Tháng trước',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '3 tháng trước',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }]
        },

        validationRules: {
          sortByVipExpired: [
            { required: true, message: 'Cần chọn tiêu chí sắp xếp', trigger: ['blur', 'change'] },
          ],
          activeVipDate: [
            { required: true, message: 'Cần chọn ngày kích tin', trigger: ['blur', 'change'] },
          ],
        }
      };
    },

    computed: {
      ...mapState({
        searching: state => state.Employer.EmployerListVipTab.searchingState,
        formData: state => state.Employer.EmployerListVipTab.Form.formData,
        formUiSetting: state => state.Employer.EmployerListVipTab.Form.formUiSetting,
      }),
    },

    methods: {
      submitForm() {
        this.$refs['form'].validate((valid, errors) => {
          console.log(`success=${valid} | submit form with data`, this.formData);

          if (valid) {

            // TODO: Introduce to common wrapper
            const payload = { ...this.formData, __action: 'search' };
            this.$store.dispatch(cDataTable.gns(cDataTable.action.search), payload);
          }

          return valid;
        });
      },
      resetForm() {
        console.log('Reset form: ');
        this.$refs['form'].resetFields();
      },
    },

    created: function () {
      console.log('EVipTab Form created ');
    },
    mounted: function () {
      console.log('EVipTab Form mounted');
    },
    updated: function () {
      console.log('EVipTab Form updated');
    },
    destroyed: function () {
      console.log('EVipTab Form destroyed');
    },
  };
</script>
