<template>
  <el-form :model="formData" :rules="validationRules" ref="form" label-width="0" >
    <el-form-item label="" prop="sortByVipExpired">
      <el-input v-model="formData.sortByVipExpired"></el-input>
    </el-form-item>

    <el-form-item>
      <el-button type="primary" @click="submitForm">Create</el-button>
      <el-button @click="resetForm">Reset</el-button>
    </el-form-item>
  </el-form>
</template>
<script>
  export default {
    data() {
      return {
        formData: {
          sortByVipExpired: ''
        },
        validationRules: {
          sortByVipExpired: [
            { required: true, message: 'Please input Activity name', trigger: ['blur', 'change'] },
          ],
        }
      };
    },
    methods: {
      submitForm() {
        this.$refs['form'].validate((valid) => {
          if (valid) {
            alert('submit!');
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      resetForm() {
        this.$refs['form'].resetFields();
      }
    }
  }
</script>
