<template>

  <el-pagination
    align="right"
    layout="total, prev, pager, next, jumper, sizes"
    :current-page="page"
    :page-size="pageSize"
    :page-sizes="[10, 20, 50, 100]"
    :total="totalItem"
    @size-change="onPageSizeChange"
    @current-change="onPageChange"
  >
  </el-pagination>

</template>

<script>
  /**
   * This is a presentational component for all CRUD pagination
   * For each page / screen, you should implement this component as a presentational layer,
   * And wrap it by your own container logic layer.
   *
   * Why?
   *  - For each page or each screen, user need to use other pager configuration, not all the same
   */
  export default {
    props: [
      'page',
      'pageSize',
      'totalItem',
      'onPageSizeChange',
      'onPageChange',
    ],
  }
</script>
