<template>
  <el-container direction="vertical" class="app-layout-container">

    <admin-header/>

    <el-container direction="horizontal">

      <aside-menu/>

      <el-main>
        <nuxt/>
      </el-main>

    </el-container>
  </el-container>
</template>

<script>
  import AdminHeader from '~/components/layouts/AdminHeader'
  import AsideMenu from '~/components/layouts/AsideMenu'

  export default {
    components: {
      AdminHeader,
      AsideMenu
    },
    mounted: function() {
      console.log('Default layout mounted');
    },
  };
</script>

<style lang="scss">
  body, html {
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;

    background: #eef1f6;
  }

  .app-layout-container{}

  body, html, #__nuxt, #__layout , .app-layout-container {
    height: 100%;
  }

  .scroll-area {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;

    border-radius: 4px;
  }

  .crm-section-group {
    margin-bottom: 20px;
  }

  .crm-section {
    margin-bottom: 20px;
  }

  .crm-section.crm-breadcrumb {
    line-height: 1.3em;
    font-size: 1em;
  }

  .crm-section.crm-title {
    line-height: 1.3;

    h1 {
      display: flex;
      align-items: center;

      span {
        padding-top: 3px;
      }
    }
  }

  .crm-section.crm-toolbox {
    .toolbox_inner {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }



  // ================================ OVERWRITE UI KIT =======================

  /*
  ========== BREADCRUM =========
  */
  /* Fix breadcrumb vertical not center */
  .crm-breadcrumb .el-breadcrumb,
  .crm-breadcrumb .el-breadcrumb__item,
  .crm-breadcrumb .el-breadcrumb__inner {
    display: flex;
    align-items: center;
  }

  /* Fix Icon and text vertical not center */
  .crm-breadcrumb .ion {
    padding-right: 5px;
    .ion__svg {
      width: 18px;
      height: 18px;
    }
  }


  /*
  ========== FORM =========
  */
  .el-form-item .el-form-item__content .el-select:not(.autoWidth),
  .el-form-item .el-form-item__content .el-date-editor:not(.autoWidth) {
    width: 100%;
  }
  .el-form-item .el-form-item__content .el-range-editor.el-input__inner{
    justify-content: space-between;
  }
  .el-form-item .el-form-item__content .el-range-separator{
    color: #999
  }
  .el-form-item.el-form-item--mini .el-form-item__error {
    padding-top: 5px;
  }
  .el-form-item--mini.el-form-item {
    margin-bottom: 12px;
  }



  /*
  ========= PAGINATION =========
  */
  .el-pagination [type=button],
  .el-pagination .el-pager .number,
  .el-pagination .el-pager .more {
    background-color: transparent!important;
  }


  /*
 ========= FORM STYLE =========
 */
  .el-form-item .el-input__inner{
    border-top: 0;
    border-right: 0;
    border-left: 0;
  }
</style>
