<template>

  <!--
    Common structure
    * Main content ==> This is page content
        * Form
        * Additional Toolbox
        * List
        * Pagination
    -->

  <!--<section class="page-content-container">-->
  <!--<nav-info/>-->
  <!--<div>-->
  <!--Home page content-->

  <!---->

  <!--</div>-->
  <!--</section>-->

  <vue-perfect-scrollbar class="crm-page__home scroll-area" v-once :settings="scrollBarSetting" @ps-scroll-y="scrollHandle">

    <el-card class="box-card crm-section-group">

      <div class="crm-section crm-breadcrumb">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item to="/"><ios-home-icon/> Trang chủ</el-breadcrumb-item>
        </el-breadcrumb>
      </div>

      <div class="well">
        <h3>Release note: 31/12/2015</h3>
        Vui lòng xem chi tiết các hạn mục chức năng đã released trong phiên bản beta 31/12/2015<br>
        <br>
        <strong>HỆ THỐNG &amp; DỮ LIỆU DANH MỤC </strong>

        <ul>
          <li>Quản lý người dùng, nhóm người dùng, phân quyền truy cập theo phân hệ/chức năng, dữ liệu</li>
          <li>Dữ liệu danh mục: Kênh, Gói dịch vụ, Vị trí địa lý, Lịch làm việc, Hiệu ứng.</li>
        </ul>
        <strong>NHÀ TUYỂN DỤNG (NTD): <a href="https://crm.timviecnhanh.com/SVPortal/SalesEmployerInformation">https://crm.timviecnhanh.com/SVPortal/SalesEmployerInformation</a>
        </strong>

        <ul>
          <li>Danh sách NTD: Thêm/chỉnh sửa NTD</li>
          <li>Tài khoản đang VIP</li>
          <li>Tài khoản Minisite</li>
          <li>Banner đã xuất bản</li>
          <li>Tìm kiếm nhà tuyển dụng</li>
          <li>Chờ kích hoạt: Xác thực tài khoản, Tin, Mini site, Banner</li>
        </ul>
        <strong>TIN TUYỂN DỤNG (TTD): <a href="https://crm.timviecnhanh.com/SVPortal/SalesEmployerJobNewsList">https://crm.timviecnhanh.com/SVPortal/SalesEmployerJobNewsList</a>
        </strong>

        <ul>
          <li>Quản lý tin tuyển dụng: Tạo mới tin, chỉnh sửa, duyệt miễn phí, đăng ký tính phí</li>
          <li>Các nhóm tin
            <ul style="list-style-type:circle">
              <li>Tin miễn phí (MP) mới chờ duyệt</li>
              <li>Tin miễn phí (MP) đã sửa chờ duyệt</li>
              <li>Tin xác thực (XT) mới chờ duyệt</li>
              <li>Tin xác thực (XT) đã sửa chờ duyệt</li>
              <li>Tin tính phí (TP)</li>
              <li>Tin tính phí (TP) sắp hết hạn&nbsp;</li>
            </ul>
          </li>
        </ul>
        <strong>DUYỆT/TỪ CHỐI TIN &amp; TÀI KHOẢN XÁC THỰC + HẠ TIN TÍNH PHÍ</strong>

        <ul>
          <li>Duyệt/từ chối tin tính phí &amp; tài khoản xác thực: <strong><a href="https://crm.timviecnhanh.com/SVPortal/AccountantJobNewsList">https://crm.timviecnhanh.com/SVPortal/AccountantJobNewsList</a>
          </strong></li>
        </ul>

        <ul>
          <li>Hạ tin tính phí: <strong><a href="https://crm.timviecnhanh.com/SVPortal/AccountantServiceDropJob">https://crm.timviecnhanh.com/SVPortal/AccountantServiceDropJob</a></strong>
          </li>
        </ul>
        <strong>CHĂM SÓC KHÁCH HÀNG (CRM): <a href="https://crm.timviecnhanh.com/SVPortal/SalesEmployerTouchs">https://crm.timviecnhanh.com/SVPortal/SalesEmployerTouchs</a>
        </strong>

        <ul>
          <li>Mới hoàn thiện được 50%. Sẽ done trong tuần 1 tháng 01</li>
        </ul>
        <strong>KẾT NỐI TỔNG ĐÀI</strong>

        <ul>
          <li>Gọi điện (click to call) từ hệ thống tích hợp vào màn hình chăm sóc khách hàng</li>
          <li>Thống kê cuộc gọi: <a href="https://crm.timviecnhanh.com/SVPortal/SalesMonitoringXliteSummary">https://crm.timviecnhanh.com/SVPortal/SalesMonitoringXliteSummary</a>
          </li>
          <li>Lịch sử cuộc gọi và nghe lại: <a href="https://crm.timviecnhanh.com/SVPortal/SalesMonitoringXliteHistory">https://crm.timviecnhanh.com/SVPortal/SalesMonitoringXliteHistory</a>
          </li>
        </ul>
      </div>
    </el-card>


  </vue-perfect-scrollbar>

</template>

<script>
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'

  import NavInfo from '~/components/NavInfo'
  import IosHomeIcon from "vue-ionicons/dist/ios-home.vue";


  export default {
    //layout: "test",

    components: {
      IosHomeIcon,
      NavInfo,
      VuePerfectScrollbar,
    },

    data: () => {
      const item = {
        date: '2016-05-02',
        name: 'Tom',
        address: 'No. 189, Grove St, Los Angeles',
      };

      return {
        scrollBarSetting: {
          maxScrollbarLength: 60
        },
        tableData: Array(30).fill(item)
      }
    },

    methods: {
      scrollHandle(evt) {
        //console.log(evt)
      }
    },

    head: {
      title: 'Siêu Việt CRM',
    },
  }
</script>

<style lang="scss" scoped>

</style>

