<template>

  <!--
    Common structure
    * Main content ==> This is page content
        * Form
        * Additional Toolbox
        * List
        * Pagination
    -->

  <!-- Remember to add `.ps` class to avoid can not scroll bug -->
  <vue-perfect-scrollbar class="crm-page__customer-service scroll-area ps" :settings="scrollBarSetting" @ps-scroll-y="scrollHandle">

    <el-card class="box-card crm-section-group">


      <div class="crm-section crm-breadcrumb">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item to="/"><ios-home-icon/> Trang chủ</el-breadcrumb-item>
          <el-breadcrumb-item><ios-people-icon/> Danh sách Nhà tuyển dụng</el-breadcrumb-item>
        </el-breadcrumb>
      </div>

      <div class="crm-section crm-title">
        <h1><span style="font-size: 28px">Danh sách Nhà tuyển dụng</span></h1>
      </div>



      <div class="crm-section crm-form">
        <el-tabs type="border-card" v-model="activeTab" @tab-click="handleTabClick">

          <el-tab-pane
            v-for="tab in tabs"
            :key="tab.name"
            :name="tab.name"
            :label="tab.label"
          >
            <component :is="tab.form" v-if="activeTab === tab.name"></component>
          </el-tab-pane>




          <el-tab-pane label="TK lọc hồ sơ" disabled>
            <h1>TK loc ho so form</h1>
          </el-tab-pane>
          <el-tab-pane label="TK Minisite" disabled> </el-tab-pane>
          <el-tab-pane label="Banner đã xuất bản" disabled> </el-tab-pane>
          <el-tab-pane label="Tìm kiếm NTD" disabled> </el-tab-pane>
          <el-tab-pane label="Chờ kích hoạt" disabled> </el-tab-pane>
        </el-tabs>
      </div>


      <div class="crm-section crm-toolbox">
        <div class="toolbox_inner">

          <div class="crm-page__customer-service__section__toolbox">

            <el-dropdown size="small" type="primary" style="margin-right: 10px;">
              <el-button type="primary" size="small">
                Chuyển vào thư mục <i class="el-icon-arrow-down el-icon--right"></i>
              </el-button>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item>Rất tiềm năng</el-dropdown-item>
                <el-dropdown-item>Tiềm năng</el-dropdown-item>
                <el-dropdown-item>Bình thường</el-dropdown-item>
                <el-dropdown-item>Không tiềm năng</el-dropdown-item>
                <el-dropdown-item>Rác</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>

            <el-button type="success" size="small" plain>Xuất excel</el-button>

          </div>

        </div>
      </div>


    </el-card>


    <div class="crm-section crm-pagination">
      <div class="crm-pagination__inner">
        <component :is="activeTabDef.pagination"></component>
      </div>
    </div>

    <el-card class="box-card crm-section-group">
      <div class="crm-section crm-list">
        <component :is="activeTabDef.dataTable"></component>
      </div>
    </el-card>

    <div class="crm-section crm-pagination">
      <div class="crm-pagination__inner">
        <component :is="activeTabDef.pagination"></component>
      </div>
    </div>

  </vue-perfect-scrollbar>

</template>

<script>
  import { mapState } from 'vuex'
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'

  import IosHomeIcon from "vue-ionicons/dist/ios-home.vue";
  import IosCompassIcon from "vue-ionicons/dist/ios-compass.vue";
  import IosPeopleIcon from "vue-ionicons/dist/ios-people.vue";

  import cEmployer from '~/components/pages/CustomerService/Employer/const'

  import EmployerListTabForm from '~/components/pages/CustomerService/Employer/EmployerListTab/Form'
  import EmployerListTabDataTable from '~/components/pages/CustomerService/Employer/EmployerListTab/DataTable'
  import EmployerListTabPagination from '~/components/pages/CustomerService/Employer/EmployerListTab/Pagination'

  import EmployerListVipTabForm from '~/components/pages/CustomerService/Employer/EmployerListVipTab/Form'
  import EmployerListVipTabDataTable from '~/components/pages/CustomerService/Employer/EmployerListVipTab/DataTable'
  import EmployerListVipTabPagination from '~/components/pages/CustomerService/Employer/EmployerListVipTab/Pagination'

  //import FilterCvAccountTabForm from '~/components/pages/CustomerService/Employer/Forms_deprecated/FilterCvAccount'

  export default {
    //layout: "test",

    components: {
      IosPeopleIcon,
      IosCompassIcon,
      IosHomeIcon,
      VuePerfectScrollbar,

      EmployerListTabForm,
      EmployerListTabDataTable,
      EmployerListTabPagination,

      EmployerListVipTabForm,
      EmployerListVipTabDataTable,
      EmployerListVipTabPagination,

      //FilterCvAccountTabForm,
    },

    data() {
      return {
        // NOTE: computed here Not work :(( because data can not track the change if your state is compute via function, data can not understand
        //activeTabDef: cEmployer.getActiveTabDef(this.$store.state.Employer.activeTab),
      }
    },

    computed: {
      activeTab: {
        get: function () {
          return this.$store.state.Employer.activeTab;
        },
        set: function (newValue) {
          console.log('1. Computed set: Commit setActiveTab: ');
          this.$store.commit(cEmployer.gns(cEmployer.mutation.setActiveTab), newValue);
        }
      },
      activeTabDef: function () {
        return cEmployer.getActiveTabDef(this.$store.state.Employer.activeTab);
      }
    },

    methods: {
      scrollHandle(evt) {
        //console.log('scrollHandle', evt)
      },
      handleTabClick(tab, event) {
        console.log('2. dispatch activeTheTab: ');
        this.$store.dispatch(cEmployer.gns(cEmployer.action.activeTheTab), tab.name);
      }
    },

    created() {
      console.log('Employer page created: ');
      // Two way to exclude observable for an object is
      // 1. Assign it to this in created() hook
      // 2. use Object.freeze(yourObj) in data()
      this.tabs = cEmployer.tabs;
      this.scrollBarSetting = {
        maxScrollbarLength: 60,
        wheelPropagation: true,
      };

      console.log('Employer page created: ');
    },
    mounted() {
      console.log('Employer page mounted: ');
      console.log('1. Mounted commit setActiveTab: ');
      const { __tab = this.tabs.EmployerListTab.name } = this.$route.query;
      this.$store.commit(cEmployer.gns(cEmployer.mutation.setActiveTab), __tab);
      this.$store.dispatch(cEmployer.gns(cEmployer.action.activeTheTab), __tab);
    },
    destroyed() {
      console.log('Employer page destroyed: ')
    },

    head: {
      title: 'Danh sách Nhà tuyển dụng - Siêu Việt CRM',
    },
  }
</script>

<style lang="scss" scoped>
  .crm-page__customer-service {
    .crm-section.crm-toolbox {
      margin-bottom: 0;
    }
  }
</style>
