<template>
  <!-- Treak: Set Width="" for auto width, support (un)collapse -->
  <el-aside width="">
    <vue-perfect-scrollbar class="scroll-area scroll-area-aside-menu" :settings="scrollBarSetting">

      <!-- :unique-opened="true" -->
      <!--default-active="0"-->

      <el-menu
        class="el-menu-vertical-demo"
        :collapse="$store.state.app.sidebar.opened"
        router
        :default-openeds="['1']"
        @open="handleOpen"
        @close="handleClose"
      >
        <template v-for="item in asideMenu">

          <template v-if="Object.keys(item.children).length">
            <el-submenu :index="(`${item.id}`)">
              <template slot="title">
                <i :class="item.icon"></i>
                <span slot="title">{{item.label}}</span>
              </template>

              <el-menu-item
                v-for="subItem in item.children"
                :key="subItem.id"
                :index="(`${item.id}-${subItem.id}`)"
                :route="subItem.url"
              >
                {{subItem.label}}
              </el-menu-item>
            </el-submenu>
          </template>

          <template v-else>
            <el-menu-item :index="(`${item.id}-0`)" :route="item.url">
              <i :class="item.icon"></i>
              <span slot="title">{{item.label}}</span>
            </el-menu-item>
          </template>

        </template>

      </el-menu>
    </vue-perfect-scrollbar>
  </el-aside>

</template>

<script>
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'

  import AsideMenuMock from '~/mock/AsideMenu'
  import Debug from '~/components/Debug'

  export default {
    components: {
      Debug,
      VuePerfectScrollbar,
    },

    data() {
      let isCollapse =  this.$store.state.app.sidebar.opened;

      return {
        isCollapse,
        asideMenu: AsideMenuMock,

        scrollBarSetting: {
          maxScrollbarLength: 60
        },
      };
    },
    methods: {
      handleOpen(key, keyPath) {
        console.log(" Menu open: ", key, keyPath);
      },
      handleClose(key, keyPath) {
        console.log(" Menu Close: ", key, keyPath);
      }
    }
  }
</script>

<style lang="scss" scoped>
  .el-aside {
    padding: 20px 0 20px 0;
    color: #333;
    background-color: rgb(238, 241, 246);
  }

  .el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 250px;
    min-height: 400px;
  }

  .scroll-area {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
  }
  .scroll-area-aside-menu.ps:hover >.ps__scrollbar-x-rail{
    display: none;
  }
</style>


