<template>
  <div class="crm-page__customer-service__section__form">

    <el-form ref="form" :model="formData"  size="mini" label-width="0">

      <el-form-item class="row__1">
        <el-col :span="7">
          <el-form-item>
            <el-input v-model="formData.universalKeyword" placeholder="Nhập mã, email, tên, điện thoại nhà tuyển dụng" clearable></el-input>
          </el-form-item>
        </el-col>

        <el-col :span="1">&nbsp;</el-col>
        <el-col :span="5">
          <el-form-item>
            <el-select v-model="formData.city" placeholder="Chọn Tỉnh thành" clearable filterable>
              <el-option
                v-for="item in formUiSetting.city"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>

        <el-col :span="1">&nbsp;</el-col>
        <el-col :span="5">
          <el-form-item>
            <el-select v-model="formData.vipStatus" placeholder="Chọn Trạng thái VIP" clearable filterable>
              <el-option
                v-for="item in formUiSetting.vipStatus"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>

        <el-col :span="1">&nbsp;</el-col>
        <el-col :span="4">
          <el-form-item>
            <el-select v-model="formData.folder" placeholder="Chọn Thư mục" clearable filterable>
              <el-option
                v-for="item in formUiSetting.folder"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-form-item>

      <el-form-item class="row__2">
        <el-col :span="7">
          <el-form-item>
            <el-select v-model="formData.customerCareStaffOrGroup" placeholder="Chọn CSKH" clearable filterable>
              <el-option
                v-for="item in formUiSetting.customerCareStaffOrGroup"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>

        <el-col :span="1">&nbsp;</el-col>
        <el-col :span="11">
          <el-form-item>
            <el-date-picker
              v-model="formData.registerDate"
              type="daterange"
              format="dd/MM/yyyy"
              align="right"
              unlink-panels
              range-separator="đến"
              start-placeholder="Ngày đăng ký: Từ"
              end-placeholder="Ngày đăng ký: Đến"
              :picker-options="pickerOptions2"
            >
            </el-date-picker>
          </el-form-item>
        </el-col>

        <el-col :span="1">&nbsp;</el-col>
        <el-col :span="4">
          <el-form-item>
            <el-select v-model="formData.loginTime" placeholder="Chọn thời gian đăng nhập" clearable filterable>
              <el-option
                v-for="item in formUiSetting.loginTime"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-form-item>

      <hr>

      <el-form-item class="row__2">
        <el-col :span="7">
          <el-form-item>
            <el-select v-model="formData.sortBy" placeholder="Sắp xếp theo" clearable filterable class="autoWidth">
              <el-option
                v-for="item in formUiSetting.sortBy"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>

        <el-col :span="1">&nbsp;</el-col>
        <el-col :span="16">
          <el-form-item align="right">
            <el-button size="small" type="warning"><ios-refresh-icon w="1em" h="0.9em"/> Cập nhật NTD</el-button>
            <el-button size="small" type="success"><md-add-icon w="1em" h="0.9em"/> Thêm</el-button>
            <el-button size="small" type="default">Bỏ lọc</el-button>
            <el-button size="small" type="primary" @click="onSubmit" :disabled="searching" :loading="searching">
              <ios-search-icon w="1em" h="0.9em" v-if="!searching"/> Tìm kiếm
            </el-button>
          </el-form-item>
        </el-col>
      </el-form-item>
    </el-form>

  </div>
</template>

<style lang="scss">
  hr {
    border-top: 1px solid #ececec;
    margin-bottom: 20px;
  }
</style>

<script>
  import { mapState, mapGetters } from 'vuex'
  import c from './const'
  import cDataTable from '../DataTable/const'
  import cEmployer from '../../const'

  import IosAddIcon from "vue-ionicons/dist/ios-add.vue";
  import IosSearchIcon from "vue-ionicons/dist/ios-search.vue";
  import IosRefreshIcon from "vue-ionicons/dist/ios-refresh.vue";
  import MdAddIcon from "vue-ionicons/dist/md-add.vue";


  export default {
    components: { MdAddIcon, IosRefreshIcon, IosSearchIcon, IosAddIcon },

    data() {
      return {
        pickerOptions2: {
          shortcuts: [{
            text: 'Tuần trước',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: 'Tháng trước',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '3 tháng trước',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }]
        }
      };
    },

    computed: {
      ...mapState({
        searching: state => state.Employer.EmployerListTab.searchingState,
        formData: state => state.Employer.EmployerListTab.Form.formData,
        formUiSetting: state => state.Employer.EmployerListTab.Form.formUiSetting,
      }),
    },

    methods: {
      onSubmit() {
        console.log('submit form with data', this.formData);

        const payload = { ...this.formData, __action: 'search' };

        // TODO: Introduce to common wrapper
        this.$store.dispatch(cDataTable.gns(cDataTable.action.search), payload);
      },

    },

    created: function () {
      console.log('EListTab Form created ');
    },
    mounted: function () {
      console.log('EListTab Form mounted');
    },
    updated: function () {
      console.log('EListTab Form updated');
    },
    destroyed: function () {
      console.log('EListTab Form destroyed');
    },
  };
</script>
