<template>
  <crud-pagination1
    :page="page"
    :pageSize="pageSize"
    :totalItem="totalItem"
    v-bind="{onPageChange, onPageSizeChange}"
  />

</template>

<script>
  /**
   * This is container component
   * This implement presentation component common CRUD
   */
  import { mapState } from 'vuex'
  import CrudPagination1 from '~/components/pages/CrudPagination1'
  import c from './const'

  export default {
    components: {
      CrudPagination1,
    },
    computed: mapState({
      page: state => state.Employer.EmployerListVipTab.Pagination.page,
      pageSize: state => state.Employer.EmployerListVipTab.Pagination.pageSize,
      totalItem: state => state.Employer.EmployerListVipTab.Pagination.totalItem,
    }),
    methods: {
      onPageSizeChange(val) {
        // console.log('onPageSizeChange val: ', val);

        this.$store.dispatch(c.gns(c.action.changePageSize), {
          page: this.page,
          pageSize: val,
        });
      },
      onPageChange(val) {
        // console.log('onPageChange val: ', val);

        this.$store.dispatch(c.gns(c.action.changePage), {
          page: val,
          pageSize: this.pageSize,
        });
      },
    },
  }
</script>
