<template>
  <div class="employer-list-dataTable">

    <el-table :data="employers" v-loading="searching">

      <el-table-column label="#" type="index" :index="indexMethod" width="45"></el-table-column>

      <el-table-column label="Nhà tuyển dụng" width="270">
        <template slot-scope="scope">
          <p>
            {{ scope.row.name }}<br/>
            <b>Email:</b> {{ scope.row.email }}<br/>
            <b>Phone:</b> {{ scope.row.phone }}
          </p>
        </template>
      </el-table-column>

      <el-table-column prop="register" label="Đăng ký"></el-table-column>
      <el-table-column prop="cskh" label="CSKH"></el-table-column>

      <el-table-column label="Loại">
        <template slot-scope="scope">
          <el-tag :type="{0: 'warning',1: 'primary',2: 'success',}[scope.row.validateStatus.id]" size="small">
            {{scope.row.validateStatus.label}}
          </el-tag>
        </template>
      </el-table-column>

      <el-table-column label="Thao tác" width="80">
        <template slot-scope="scope">
          <item-delete-btn :item="scope.row"/>
        </template>
      </el-table-column>

    </el-table>

  </div>
</template>

<style lang="scss">
  /* Custom for this DataTable only */
  .employer-list-dataTable .el-loading-mask .el-loading-spinner{ top: 80px; }
</style>

<script>
  import { mapState } from 'vuex'
  import ItemDeleteBtn from './ItemDeleteBtn'

  export default {
    components: {
      ItemDeleteBtn,
    },

    data: function () {
      return {

      }
    },

    computed: mapState({
      searching: state => state.Employer.EmployerListVipTab.searchingState,
      employers: state => state.Employer.EmployerListVipTab.DataTable.searchResult.data,
      success: state => state.Employer.EmployerListVipTab.DataTable.searchResult.success,
      message: state => state.Employer.EmployerListVipTab.DataTable.searchResult.message,
    }),

    methods: {
      indexMethod: i => i + 1,
    },

    mounted() {
      console.log('EmployerListVipTab/DataTable mounted: ');
    },
    updated() {
      console.log('EmployerListVipTab/DataTable updated: ');
    },
  }
</script>
